<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Webdesign</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<style type="text/css" media="all">
@import "ie.css";
    </style>
<![endif]-->
</head>
<body>
    <form id="form1" runat="server">
<div id="ie"></div>
<div id="wrapper">
  <ul id="nav">
    <li><a href="Inicio.aspx"><img src="images/menu_1.gif" width="31" height="70" alt="home" /></a></li>
    <li><a href="Cliente.aspx"><img src="images/menu_2.gif" width="31" height="70" alt="portfolio" /></a></li>
    <li><a href="#"><img src="images/menu_3.gif" width="31" height="70" alt="designs" /></a></li>
    <li><a href="#"><img src="images/menu_4.gif" width="31" height="70" alt="client" /></a></li>
    <li><a href="#"><img src="images/menu_5.gif" width="31" height="69" alt="contact" /></a></li>
  </ul>
  <h1><a href="#"><img src="images/logo.gif" width="135" height="30" alt="logo" /></a></h1>
  <div id="body">
    <div class="inner">
      <div id="content">
        <div>
          <h2>Content,</h2>
          <p>Please replace this text with the original one. Please replace this font with the customised one. please replase this font. This is demo text please replase this with your text.</p>
        </div>
      </div>
      <!-- end content -->
      <div id="hola" class="left">  &nbsp; 
          <asp:Button ID="Button1" runat="server" Text="Button" />
        </div>
      <!-- end page_title -->
      <!-- end news -->
    </div>
    <!-- end .inner -->
    <div id="footer"> <img src="images/footer.gif" width="435" height="196" alt="tortoise" class="footer" /> <img src="images/footer_ie.gif" width="435" height="196" alt="tortoise" class="footerie" /> </div>
    <!-- end footer -->
  </div>
  <!-- end body -->
  <div id="paper">
    <div class="inner">
      &nbsp;&nbsp;&nbsp;
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <!-- end .inner -->
  </div>
  <!-- end paper -->
</div>
<!-- end wrapper -->
<div style="clear:both;position:relative;display:block;margin-top:530px;" > 
    <p class="MsoNormal">
        Copyright © 2015 Karen López/o</p>
        </div>
    </form>
</body>
</html>
